<div class="p-5 custom-bg d-flex align-items-center justify-content-center">
  <form [formGroup]="form">
    <div class="row">
      <h1 class="text-white fw-bold">Seu próximo lar está aqui!</h1>
      <div class="col-12 col-xs-12 col-sm-5 col-md-2 col-lg-2 col-xxl-2">
        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Selecione o(s) tipo(s)'" [data]="types" formControlName="type">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-12 col-xs-12 col-sm-5 col-md-2 col-lg-2 col-xxl-2">
        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Selecione a(s) cidade(s)'" [data]="cities" formControlName="city">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-12 col-xs-12 col-sm-5 col-md-2 col-lg-2 col-xxl-2">
        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Selecione o(s) bairro(s)'" [data]="districts" formControlName="district">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-12 col-xs-12 col-sm-5 col-md-2 col-lg-2 col-xxl-2">
        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Selecione'" [data]="typeRealEstates" formControlName="typeRealEstate">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-12 col-xs-12 col-sm-5 col-md-3 col-lg-2 col-xxl-2 px-3">
        <div class="row gap-2">
          <button class="btn btn-outline-primary text-white" (click)="clearAll()">Limpar Filtros</button>
          <button class="btn btn-primary text-white">Buscar</button>
        </div>
      </div>
    </div>
  </form>
</div>