<div class="row gap-3 p-5">
  <div class="card col-sm-5 col-md-4 col-lg-3" *ngFor="let realEstate of realEstateList; let i = index">
    <div class="">
      <span class="">Cod: {{realEstate.id}}</span>
      <button class="btn" (click)="editRealEstate(realEstate.id)"><i class="bi bi-pencil"></i></button>
      <button class="btn" (click)="deleteRealEstate(realEstate.id)"><i class="bi bi-trash3"></i></button>
    </div>
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{realEstate.nome}}</h5>
      <p class="card-text" *ngFor="let adress of realEstate.endereco">
        <i class="bi bi-geo-alt-fill text-danger"></i> 
        {{adress.bairro}} - {{adress.cidade}}/{{adress.uf}}
      </p>
      <p class="card-text"><i class="bi bi-currency-dollar text-primary me-2"></i>{{realEstate.valor | currency:'BRL' }} -
        <span *ngIf="realEstate.venda">Venda</span>
        <span *ngIf="realEstate.aluguel">Aluguel</span>
      </p>
      <div class="border d-flex align-items-center justify-content-around">
        <span tooltip="Área Total"
        placement="bottom">{{realEstate.area}}<span *ngIf="realEstate.unidade === 'm'">m²</span>
        <span *ngIf="realEstate.unidade === 'h'">h</span></span>
        
        <span tooltip="Área Privativa"
        placement="bottom" *ngIf="realEstate.areaPrivativa > 0">{{realEstate.areaPrivativa}}m²</span>
        <span tooltip="Dormitórios"
        placement="bottom" *ngIf="realEstate.quartos > 0"><img src="../../../assets/images/bed-icon.svg" alt="bed-icon" width="22px" height="auto">{{realEstate.quartos}}</span>
        <span tooltip="Banheiros"
        placement="bottom" *ngIf="realEstate.banheiros > 0"><img src="../../../assets/images/bathtub-icon.svg" alt="bathtub-icon" width="22px" height="auto">{{realEstate.banheiros}}</span>
        <span tooltip="Suítes"
        placement="bottom" *ngIf="realEstate.suites > 0"><img src="../../../assets/images/shower-icon.svg" alt="shower-icon" width="22px" height="auto">{{realEstate.banheiros}}</span>
        <span tooltip="Garagem"
        placement="bottom" *ngIf="realEstate.garagem > 0"><img src="../../../assets/images/garage-icon.svg" alt="garage-icon" width="22px" height="auto">{{realEstate.banheiros}}</span>
        <span tooltip="Mobiliado" placement="bottom" *ngIf="realEstate.mobiliado"><img src="../../../assets/images/cabinet-icon.svg" alt="cabinet-icon" width="22px" height="auto"></span>
      
      </div>
      <a href="#" class="btn btn-primary my-4">Ver detalhes</a>
    </div>
  </div>
</div>