<nav class="navbar row position-absolute bottom-0 end-0 w-100 m-0 pt-3 bg-light  border-top border-2 border-primary" style="z-index: 9999;">
  <div class="col m-3">
    <img src="assets/images/logo.svg" alt="" width="150px" height="auto">
  </div>
  <div class="col">
    <h5 class="fw-bold">Midori Imóveis</h5>
    <p><i class="bi bi-geo-alt-fill"></i> Avenida Cachoeirinha, Santa Cruz, Belo Horizonte - MG</p>
    <p><i class="bi bi-envelope"></i> ingridmidori@live.com</p>
    <p><i class="bi bi-telephone-fill"></i> (31) 98485-3312</p>
  </div>
  <div class="col text-end">
    <a class="navbar-brand text-primary fs-2" href="https://www.instagram.com/midoriobana/" target="_blank"><i
        class="bi bi-instagram"></i></a>
    <a class="navbar-brand text-primary fs-2" href="https://www.github.com/midoriobana/" target="_blank"><i
        class="bi bi-github"></i></a>
    <a class="navbar-brand text-primary fs-2" href="https://www.linkedin.com/in/midoriobana/" target="_blank"><i
        class="bi bi-linkedin"></i></a>
  </div>
  <div class="row text-center border-top border-white border-2 pt-2 fs-sm">
    <p class="m-0">Site desenvolvido por: Ingrid Obana</p>
  </div>
</nav>