<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="ms-auto">
    <a class="navbar-brand text-primary" href="https://www.instagram.com/midoriobana/" target="_blank"><i class="bi bi-instagram"></i></a>
    <a class="navbar-brand text-primary" href="https://www.github.com/midoriobana/" target="_blank"><i class="bi bi-github"></i></a>
    <a class="navbar-brand text-primary" href="https://www.linkedin.com/in/midoriobana/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
</nav>