
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Michroma', sans-serif;
}

.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}