
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Michroma', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.confirm-button {
  color: $primary !important;
  &:hover{
    color: #ffffff !important;
  }
}

.custom-bg {
  background-image: url('https://images.pexels.com/photos/8293778/pexels-photo-8293778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.multiselect-dropdown .dropdown-btn {
  background-color: white;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid $primary !important;
  background: $primary !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  color: $primary !important;
  border: 2px solid $primary !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: $primary !important;
}

.form-group {
  .ng-touched.ng-invalid {
    ~.invalid-feedback {
      display: block !important;
    }
  }
}

.fs-sm {
  font-size: 12px;
}


.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}