<div class="p-5">
  <h4 class="text-center">Sobre</h4>
  <p>
    <strong>Midori Imóveis</strong> tem sido uma presença confiável no mercado imobiliário há mais de 10 anos. Nós nos orgulhamos em
    oferecer aos nossos clientes o melhor atendimento, experiência e conhecimento do mercado para ajudá-los a encontrar
    a casa dos seus sonhos ou o melhor investimento imobiliário.
  </p>
  <p>
    Acreditamos que a nossa paixão e comprometimento em fornecer soluções personalizadas, confiáveis e eficientes são a
    chave para o nosso sucesso contínuo. Nossa equipe dedicada de profissionais trabalha incansavelmente para garantir
    que cada transação imobiliária seja um sucesso.

  </p>
  <p>
    Se você está procurando comprar, vender ou alugar uma propriedade, pode confiar na <strong>Midori Imóveis</strong>. Estamos aqui para
    ajudá-lo a cada passo do caminho.

  </p>
  <p class="text-center">
    Copyright © Midori Imóveis 2023. Todos os direitos reservados.
  </p>
</div>